/* Contains everything in the window */
.app-container {
  font-family: 'Courier New', Courier, monospace;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* The top section which may contain the add note circle plus button */
.top-bar {
  display: flex;
  justify-content: flex-end;
}

/* The circle button in the top right */
.add-note-button {
  background-color: #dbdbdb;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  margin: 8px;
  font-weight: bold;
}

/* The grid the notes are on */
.sticky-notes-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  align-items: center;
  padding: 16px;
  box-sizing: border-box;
}

/* Styles for all the buttons */
button {
  font-family: 'Courier New', Courier, monospace;
  color: #333;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  border-radius: 30px;
  border: none;
  padding: 8px 12px;
}

/* Styles for all input forms */
input {
  font-family: 'Courier New', Courier, monospace;
  color: #333;
  border-radius: 30px;
  padding: 10px;
  border: none;
  background-color: #e0e0e0;
}

/* The placeholder text in input fields */
input::placeholder {
  color: #696969;
}

/* Hover effects for all buttons */
button:hover {
  background-color: #33333350;
}

/* The actual sticky notes */
.sticky-note {
  width: 260px;
  height: 260px;
  border: 2px solid transparent;
  box-shadow: 8px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
}

/* Top stripe on the sticky notes */
.sticky-note-top {
  padding: 4px 8px;
  position: relative;
}

/* Title of sticky note */
.sticky-note-title {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

/* The full list of items on the notes */
.items-list {
  margin: 0;
  padding: 8px;
  list-style: none;
  max-height: 240px;
}

/* Each individual item */
.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* The container for the add item input and button */
.add-item-section {
  position: absolute;
  bottom: 8px;
  left: 8px;
  right: 8px;
  display: flex;
}

/* The add item input box */
.add-item-input,
.add-item-button {
  background-color: inherit;
}

/* The overlay when the modals are active */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(4px);
}

/* Styles for the modals */
.modal {
  background: white;
  padding: 20px;
  border-radius: 20px;
  width: 380px;
  height: 140px;
  text-align: center;
}

/* Modal headers */
.modal-header {
  font-size: 22px;
  margin-bottom: 18px;
}

.modal-footer {
  display: flex;
  justify-content: space-between;
}

/* The circle colour options on the modals */
.color-option {
  display: inline-block;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin: 8px;
  cursor: pointer;
  border: 2px solid #3333333a;
}

/* When the circle colour options are clicked on */
.color-option.selected {
  box-shadow: 4px 4px rgba(0, 0, 0, 0.1);
}

/* Button to edit the note in header section */
.edit-note-button {
  position: absolute;
  top: 5px;
  right: 5px;
  background: none;
  border: none;
  color: #333;
  display: none;
  cursor: pointer;
}


/* NEED and do not change */

/* Makes the edit button show on sticky note header */
.sticky-note-top:hover .edit-note-button {
  display: block;
}