body {
  font-family: 'Courier New', Courier, monospace;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  color: #333;
  font-size: 42px;
}

ul {
  list-style-type: none;
  padding: 0;
}

.list-container {
  border: 1px solid #ccc;
  padding: 15px;
  margin: 15px 0;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.list-container h3 {
  margin-top: 0;
}

.list-container ul {
  margin-top: 10px;
}

li {
  padding: 10px;
  margin: 10px;
}

button {
  font-family: 'Courier New', Courier, monospace;
  padding: 10px 15px;
  font-size: 16px;
  border: 2px solid #777777;
  border-radius: 20px;
  background-color: #f0f0f0;
  color: #777777;
  cursor: pointer;
}

button:hover {
  border: 2px solid #333;
  color: #333;
}

input {
  font-family: 'Courier New', Courier, monospace;
  padding: 10px 15px;
  font-size: 16px;
  border: 2px solid white;
  border-radius: 20px;
  width: 250px;
  margin-right: 10px;
}

input:focus {
  border: 2px solid #333;
  outline: none;
}