/* The whole window container thing */
body {
  font-family: 'Courier New', Courier, monospace;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #333;
}

/* The title : 'Habit Tracker' */
h1 {
  color: #333;
  font-size: 42px;
}

/* Styles for the unordered list / makes no bullet points */
ul {
  list-style-type: none;
  padding: 0;
}

/* The list containers */
.list-container {
  padding: 15px;
  margin: 15px;
  box-shadow: 8px 8px rgba(0, 0, 0, 0.1);
  border: 2px solid #cfcf8c;
  background-color: #f5f5c1;
}

/* The title of the list containers */
.list-container h3 {
  margin: 10px;
  font-size: 20px;
}

/* The list items */
li {
  padding: 10px;
  margin: 10px;
}

/* The buttons */
button {
  color: #333;
  font-family: 'Courier New', Courier, monospace;
  padding: 10px 15px;
  font-size: 16px;
  border: 2px solid #777777;
  border-radius: 20px;
  background-color: #f0f0f0;
  cursor: pointer;
}

/* The effects when the button is hovered over */
button:hover {
  border: 2px solid #333;
  color: #333;
}

/* The input boxes */
input {
  color: #333;
  font-family: 'Courier New', Courier, monospace;
  padding: 10px 15px;
  font-size: 16px;
  border: 2px solid white;
  border-radius: 20px;
  width: 250px;
  margin-right: 10px;
}

/* The effects when the input box is clicked on */
input:focus {
  border: 2px solid #333;
  outline: none;
}

/* The placeholder text in the input boxes */
input::placeholder {
  color: #333;
}